<h1>GoJS / Angular - Components Sample</h1>

<div class="left" *ngIf="pipeline$ | async as pipeline">
  Diagram
  <gojs-diagram
    #myDiagram
    [initDiagram]="initDiagram"
    [nodeDataArray]="pipeline?.tasks | pure: handleTasksToNodeData"
    [linkDataArray]="pipeline?.tasks | pure: handleTasksToLinkData"
    [divClassName]="diagramDivClassName"
    [modelData]="diagramModelData"
    [skipsDiagramUpdate]="skipsDiagramUpdate"
    (modelChange)="diagramModelChange($event)"
  >
  </gojs-diagram>

  <div class="left">
    <gojs-inspector
      [selectedNode]="selectedNode"
      (formChange)="handleInspectorChange($event)"
    ></gojs-inspector>
  </div>
</div>
